<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">QUEM SOMOS <a href="/home" class="link"><span class="spanSobre"> <. </span>HOME</a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Saiba mais sobre nós</ion-card-subtitle>
    <ion-card-title>Quem Somos?</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Gestarq, é uma plataforma Web com integração a Aplicação Mobile, permitindo aos usuarios realizarem toda a gestão de seus negocios.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>TecInova.</ion-label>
  </ion-item> 

  <ion-card-content>
    A tecinova é uma ideia que surgiu em 2018, ela vem desenvolvendo projetoscomo este, e muitos outros. </ion-card-content>
</ion-card>
<ion-card>
  <ion-item>
    <ion-label>Antonio Rony</ion-label>
  </ion-item> 

  <ion-card-content>
    Idealizador/Desenvolvedor - antoniorony@hotmail.com
  </ion-card-content>
</ion-card>
<ion-card class="footer">
  <ion-item href="http://tecinova.tech" class="activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Conheça Nosso Site.</ion-label>
  </ion-item>

</ion-card>
