<ion-header >
  <ion-toolbar >
    <ion-title class="titulo">
      <ion-avatar>
        <img src="../../assets/l1.png"> 
      </ion-avatar>
      <span class="spanLogin">GESTARQ 1.0 </span>
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content >
<br>
<div class="divLogin">
<h2 class="h2Login">Login</h2>
    <ion-label color="primary" class="labelEMail">E-mail</ion-label>
    <ion-input placeholder="youremail@email.com"></ion-input>
    <ion-label color="primary" class="corVermelha">Senha</ion-label>
    <ion-input type="password" placeholder="password"></ion-input>
    <ion-button expand="full" class="corVermelha" fill="outline">Acessar</ion-button>

  </div> 

</ion-content>
<ion-footer class="footer">
  <ion-toolbar  class="footer"> 
    <ion-title>© 2019 - Tecinova </ion-title>
    <a href="/sobre">Nos conheça clicando aqui!</a>
  </ion-toolbar>
</ion-footer>
<router-outlet></router-outlet>
